{% extends 'layout.html.twig' %}
{% block stylesheets %}
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<!-- Argon CSS -->
<link type="text/css" href="{{ asset('argon-material-design/css/argon.css?v=1.0.1') }}" rel="stylesheet">
<link type="text/css" href="{{ asset('snowtricks/css/style.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}  
<main class="profile-page">
    <section class="section-profile-cover section-shaped my-0 background">
    </section>
    <section class="section">
        <div class="container">
            <div class="card card-profile shadow mt--300">
                <div class="row">
                    <div class="col-md-1 offset-md-10 col-sm-1 offset-sm-10 text-lg-right align-self-lg-center">
                        <a class="fas fa-edit" href={{ path('trick_edit', {'slug': trick.slug}) }}></a>
                    </div>
                    <div class="col-md-1 col-sm-1">
                        <a class="fas fa-trash-alt text-danger" data-toggle="modal" data-target="#modalTrickDelete{{ trick.id }}"></a>
                    </div>
                    <div class="col-md-12">
                        <div id="captioned-gallery">
                            <figure class="slider">
                                <figure>
                                    <img src={{ asset('upload/trick/image-forward/'~trick.imageForward.fileName) }} alt="image_forward">
                                    <figcaption>
                                        <div class="col-md-3 mx-auto">
                                            {{ trick.name }}
                                        </div>
                                    </figcaption>
                                </figure>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row px-3">
                    {% for image in trick.images %}
                    <div class="col-lg-3 panel-videos panel-warning">
                        <div class="panel-images panel-warning">
                            <div class="panel-heading">
                                <img src={{ asset('upload/trick/image/'~image.name) }} alt={{ trick.name }} width="220px" height="auto">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for video in trick.videos %}
                    <div class="col-lg-3 panel-videos panel-warning">
                        <div class="panel-heading">
                            <iframe class="img-fluid" src={{ video.iframeUrl }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="wrapper">
                    <div class="divider div-transparent"></div>
                </div>
                <div class="form-group col-md-8 mx-auto">
                    {{ trick.description }}
                </div>
                <div class="row mx-auto">
                    <div class="col-md-12 mt-5">
                        <span class="badge badge-pill badge-default">Groupe: {{ trick.trickGroup.name }}</span>
                        <span class="badge badge-pill badge-default">Auteur: {{ trick.author.username }}</span>
                        <span class="badge badge-pill badge-default">Publié le {{ trick.publishDate|date("d/m/Y", "Europe/Paris") }} à {{ trick.publishDate|date("H:i:s") }}</span>
                        {% if trick.editDate is not empty %}
                        <span class="badge badge-pill badge-default">Dernière modification le {{ trick.editDate|date("d/m/Y", "Europe/Paris") }} à {{ trick.editDate|date("H:i:s") }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="wrapper">
                    <div class="divider div-transparent"></div>
                </div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ form_start(commentForm) }}
                <div class="row">
                    <div class="col-md-6 center">
                        {% include 'flash.html.twig' %}
                    </div>
                    <div class="col-md-6 offset-md-3 p-3">
                        {{ form_widget(commentForm.content) }}
                    </div>
                    <div class="col-md-3">
                        {{ form_widget(commentForm.save) }}
                    </div>
                </div>
                {{ form_rest(commentForm) }}
                {{ form_end(commentForm) }}
                {% endif %}
                <div class="row mx-auto">
                    {% for comment in comments %}
                    <div class="col-md-2 mt-5 text-center">
                        <img src={{ asset('upload/avatar/'~comment.author.avatar.url) }} alt="avatar" width="100px" height="auto">
                        <h6> {{ comment.author.username }} </h6>
                    </div>
                    <div class="col-md-10 mt-5">
                        <p> {{ comment.content }} </p>
                        <p style="font-size: 14px;"> Publié le {{ comment.publishDate|date("d/m/Y", "Europe/Paris") }} à {{ comment.publishDate|date("H:i:s") }} </p>
                    </div>
                    {% endfor %}
                </div>
                {% if comments is not empty %}
                {% if page < 1 or page > totalPages %}
                {% set page = 1 %}
                {% endif %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if page <= 1 %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ path('trick_details', {'slug': trick.slug, 'page': page - 1}) }}" tabindex="-1">
                        {% endif %}
                            <i class="fa fa-angle-left"></i>
                            <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        {% for pg in 1..totalPages %}
                        {% if pg == page %}
                        <li class="page-item active"><a class="page-link" href="#">{{ pg }}</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href={{ path('trick_details', {'slug': trick.slug, 'page': pg}) }}>{{ pg }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page < totalPages %}
                        <li class="page-item">
                            <a class="page-link" href={{ path('trick_details', {'slug': trick.slug, 'page': page + 1}) }}>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="#">
                        {% endif %}
                            <i class="fa fa-angle-right"></i>
                            <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
    </section>
    {% include 'modal/trick_delete.html.twig' %}
</main>
{% endblock %}
{% block javascript %}
<script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('argon-material-design/vendor/headroom/headroom.min.js') }}"></script>
<!-- Argon JS -->
<script type="text/javascript" src="{{ asset('argon-material-design/js/argon.js?v=1.0.1') }}"></script>
<!-- Collection -->
<script type="text/javascript" src="{{ asset('snowtricks/js/collection.js') }}"></script>
{% endblock %}