{% extends 'layout.html.twig' %}

{% block main %}
      
      <div class="col-sm-12">
        {{ form_start(trickForm) }}
          
      </div>

          <div class="col-sm-12 text-center">
            <h1> {{ form_widget(trickForm.name) }} </h1>
          </div>
          
              
              <div id="images" class="col-sm-12" data-prototype="{{ form_widget(trickForm.images.vars.prototype)|e('html_attr') }}">
              {% for image in trickForm.images %}
                <!--Grid column-->
            <div class="panel-images">
                  <img src={{ asset('img/'~image.vars.value.url) }} alt={{ image.vars.value.alt }} width="50px" height="50px">
                </div>
                <div class="col-sm-12">
                  {{ form_label(image.file) }}
                  {{ form_errors(image.file) }}
                  {{ form_widget(image.file) }}
                </div>
                <div class="panel-footer">
                    
                  </div>
              {% endfor %}
              </div>

              

          
              <div id="videos" class="videos" data-prototype="{{ form_widget(trickForm.videos.vars.prototype)|e('html_attr') }}">
              {% for video in trickForm.videos %}
                  <div class="panel-videos panel-warning">
                  <div class="panel-heading">
                    <iframe src="{{ video.vars.value.iframeUrl }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="img-fluid"></iframe>
                  </div>
                  <div class="panel-body">
                    {{ form_row(video) }}

                    </div>
                  </div>
                  <div class="panel-footer">
                    
                  </div>
              {% endfor %}
              </div>
          
          
          <div class="col-sm-12">
            <h4> Publié le {{ trick.publishDate|date("d/m/Y") }} par {{ trick.author.username }}. Figure appartenant au groupe {{ trick.trickGroup.name }}. </h4>
          </div>

          {% if trick.editDate is not empty %}
          <div class="col-sm-12">
            <h4> Dernière modification effectuée le {{ trick.editDate|date("d/m/Y") }}. </h4>
          </div>
          {% endif %}

          <div class="col-sm-12">
            {{ form_widget(trickForm.description) }}
          </div>

          <div class="col-sm-12">
            <select class="mdb-select">
              <option value="" disabled selected>{{ trick.trickGroup.name }}</option>
              {% for group in trickGroups %}
              <option value="{{ group.id }}">{{ group.name }}</option>
              {% endfor %}
            </select>
          </div>

          
            {{ form_end(trickForm) }}
         
  
{% endblock %}