{% extends 'layout.html.twig' %}

{% block main %}

    <div class="col-md-12">
        <h1>Mot de passe oublié</h1>
    </div>
    <br>
    <div class="col-md-6">
        {{ form_start(user_form) }}
        <br>
        {{ form_label(user_form.username, 'Nom d\'utilisateur') }}
        <br>
        {{ form_widget(user_form.username) }}
        <br>
        <button type="submit" class="btn btn-light">Recevoir un lien de réinitialisation</button>
        {{ form_row(user_form._token) }}
        {{ form_end(user_form, {'render_rest': false}) }}
    </div>
    
{% endblock %}
